table{
	margin: auto;
}

td > .btn{
	width: 100%;
	height: 100%;
	margin: 1px 0.5px 1px 0.5px;
	color: gray;
	background-color: lightblue;
}

#route > .btn{
	margin: 2px 2px 2px 2px;
}

div{
	margin: 0px 0px 0px 0px;
}
